.take-lesson-video-wrapper {
  video::-webkit-media-controls {
    &-timeline {
      display: none;
    }

    &-fullscreen-button {
      color: #f3f;
      position: relative;
      z-index: 100;
      transform: translateX(100%);
    }
  }
}
